<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="StatisticData" connectionString="Server=192.168.10.24;Port=5433;Database=Subscription;User Id=snovikov;Password=123;Pooling=true;MinPoolSize=1;MaxPoolSize=5;Connection Idle Lifetime=30" providerName="PostgreSQL" />
    </connectionStrings>
    <appSettings>
        <add key="ServicePort" value="55501" />
        <add key="ServiceAddress" value="192.168.116.156" />
    </appSettings>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Consul" publicKeyToken="20a6ad9a81df1d95" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-0.7.2.0" newVersion="0.7.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
