<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Consul" version="0.6.3.1" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net451" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net451" />
  <package id="NLog" version="3.1.0.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>